@font-face {
    font-family: IRANSansWeb;
    font-style: normal;
    font-weight: 950;
    src: url("../font/IRANSansWeb.woff2") format("woff2");
}

:root {
    direction: rtl;
}

body {
    font-family: 'IRANSansWeb' !important;
}

.app-navbar {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    background-color: #f4f6fa;
    transition: none;
    align-items: stretch;
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
}

@media (min-width: 992px) {
    .app-navbar {
        height: 70px;
    }
}

@media (max-width: 991.98px) {
    .app-navbar {
        height: 70px;
    }
}

.app-nav-right {
    display: flex;
    align-items: stretch;
    text-align: right !important;
}

.app-nav-right .app-navbar-item {
    display: flex;
    align-items: center;
}

.text-gray-500 {
    color: #99a1b7 !important;
}

.text-gray-800 {
    color: #252f4a !important;
}

.text-hover-primary {
    transition: color .2s ease;
}

.fw-bold {
    font-weight: 600 !important;
}

.fw-semibold {
    font-weight: 500 !important;
}

.fs-4 {
    font-size: .95rem !important;
}

.fs-3 {
    font-size: .85rem !important;
}

.d-block {
    display: block !important;
}

.symbol {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border-radius: .85rem;
}

.cursor-pointer {
    cursor: pointer !important;
}

.symbol.symbol-40px>img {
    width: 45px;
    height: 45px;
}

.symbol>img {
    width: 100%;
    flex-shrink: 0;
    display: inline-block;
    border-radius: .85rem;
}

.btn.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: calc(1.5em + 1.55rem + 2px);
    width: calc(1.5em + 1.55rem + 2px);
    line-height: 1;
}

.btn.btn-light-info {
    color: #7239ea;
    border-color: #f8f5ff;
    background-color: #f8f5ff;
}

.h-40px {
    height: 40px !important;
}

.w-40px {
    width: 40px !important;
}

.flip_H {
    transform: scale(-1, 1);
}

.flip_V {
    transform: scale(1, -1);
}